.contactDiv:hover{
    background-color: #DDD;
    cursor:pointer;
}


.currentContactTags{
    margin:20px;
}

.tagSelected{
    background-color: #00DD44;
}

.tagDeleted{
    background-color: #DD0000;
}


html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
}

.container{
    height: 100%;
    width: 100%;
}

#mapHolder{
    width:77%;
    margin:0px;
    float:left;
}

#map{
    height:100%;
}

#weather{
    float:right;
    width:20%;
    margin-right:15px;
}

.currentContactTags{
    width:80%;
    float:left;
}

#saveTags{
    float:right;
    margin-top: 20px;
    margin-right: 10px;
}