.contactDiv:hover{
    background-color: #DDD;
    cursor:pointer;
}


.currentContactTags{
    margin:20px;
}

.tagSelected{
    background-color: #00DD44;
}

.tagDeleted{
    background-color: #DD0000;
}


html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
}

.container{
    height:100%;
    width:90%;
}

#mapHolder{
    height:75%;
    width:77%;
    margin-bottom:10px;
    float:left;
}

#map{
    height:100%;
}

#weather{
    float:right;
    width:20%;
    margin-right:15px;
}

.currentContactTags{
    width:80%;
    float:left;
}

#saveTags{
    float:right;
    margin-top: 20px;
    margin-right: 10px;
}

#selectLabels{
    margin:10px;
}

#tagInstructions{
    margin:10px;
}

#labelsDiv{
    border-bottom:1px solid #008cba;
}

#backToTop{
    clear:both;
}

.label{
    color:black;
}

.hidden{
    display:none;
}

.hiddenArea{
    display:none;
}

a > button{
    color:black;
}

h3{
    margin-top:0px;
}